/* Custom properties */

:root {
  --main: #f68888;
  --hsl-main: 0 85.9% 74.9%;
  --white: #ffffff;
  --dark: #292929;
  --light: #363636;

  --fs-900: clamp(3rem, 3.3rem, 3.7rem);
  --fs-800: 2.5rem;
  --fs-700: 1.4rem;
  --fs-600: 1.2rem;
  --fs-500: 1rem;
  --fs-400: .95rem;
  --fs-300: .9rem;
  --fs-200: .85rem;

  --ff-normal: "Roboto", sans-serif;
  --ff-cond: "IBM Plex Mono", sans-serif;
  --ff-fancy: "IBM Plex Sans", sans-serif;
}


/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-normal);
  font-size: var(--fs-400);
  color: var(--white);
  background-color: var(--dark);
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* Utilities */

.fc-white {
  color: var(--white);
}
.fc-main {
  color: var(--main);
}

.ff-normal {
  font-family: var(--ff-normal);
}
.ff-cond {
  font-family: var(--ff-cond);
}
.ff-fancy {
  font-family: var(--ff-fancy);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.letter-spacing-1 {
  letter-spacing: 2.8px;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.letter-spacing-3 {
  letter-spacing: 1px;
}

.bg-main {
  background-color: var(--main);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}

.flex {
  display: flex;
  gap: .1rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.flow:last-child {
margin-bottom: 1.5rem;
}


/* Compontents */

.container {
  margin-inline: auto;
  width: 30rem;
}


/* Header */

.navigation {
  padding: 2.5em 0 2em 0;
  justify-content: center;
}

.navigation li {
  padding-bottom: .5em;
  margin-inline: .7em;
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: var(--main);
}

.underline > .active {
  border-bottom: .2rem solid var(--main);
}

.title {
  justify-content: center;
  font-weight: 100;
  color: var(--main);
  padding-bottom: 1em;
}


/* Switch block */

.switch {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 23% 5% 20% 1fr;
  grid-template-rows: 25% 6% 1fr 1fr;
  grid-template-areas:
    "a a a a"
    "r r r r"
    "e b d k"
    "e f c k";
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .25);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.grid-wraper {
  grid-area: a;
  background-color: hsl(var(--hsl-main) / .8);
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
}

.switch-title {
  color: var(--white);
  font-weight: 300;
}

.switch-lamp-json {
  grid-area: b;
  border-radius: 4px;
  max-width: 1.1rem;
  max-height: 1.1rem;
  margin-top: .2rem;
}

.switch-lamp-mysql {
  grid-area: f;
  border-radius: 4px;
  max-width: 1.1rem;
  max-height: 1.1rem;
  margin-top: .2rem;
}

.switch-json {
  grid-area: c;
  font-weight: 200;
}

.switch-mysql {
  grid-area: d;
  font-weight: 200;
}

.switch-form {
  grid-area: k;
  padding-top: 0.3rem;
}

.switch-submit {
  border: 0;
  align-self: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
  padding: 0.5rem 1rem;
  color: var(--white);
  font-weight: 200;
  background-color: var(--main);
  border-radius: 5px;
}

.switch-submit:hover {
  background-color: hsl(var(--hsl-main) / .8);
}


/* Search */

.search-container {
  margin: 1.5em 0;
  width: 100%;
  justify-content: center;
}

.search-container svg {
  height: 2.5rem;
}

.search-form {
  justify-content: center;
  width: 70%;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .25);
}

.search-form:focus {
  outline: var(--main) solid 1px;
}

.search-bar {
  width: 80%;
  height: 2.5rem;
  border-radius: 10px;
  border: 0;
  color: var(--white);
}

.search-bar:focus {
  outline: none;
}


/* Cards */

.card {
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .25);
  padding: 1rem 1.5rem;
}

.card-term {
  margin-bottom: .8rem;
  font-weight: 500;
}

.card-definition {
  text-align: justify;
  font-weight: 300;
}

.add-term {
  text-decoration: none;
}

.def-link {
  text-decoration: none;
}

.link-wraper {
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: .5rem;
}

.links-an {
  animation: .7s links ease-out ;
}

@keyframes links {
  0% {
    opacity: 0;
    transform: translateY(.6rem);
  }
}

.cards-admin-an {
  animation: .7s cards-admin ease-out ;
}

@keyframes cards-admin {
  0% {
    transform: translateY(-3rem);
  }
}

.add-an {
  animation: .7s add-link ease-out ;
}

@keyframes add-link {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
}

.cards-home-an {
  animation: .7s cards-home-admin ;
}

@keyframes cards-home-admin {
  0% {
    transform: translateY(2.5rem);
  }
}


/* Create, edit, delete */

.crud-wraper {
  justify-content: center;
  flex-wrap: wrap;
}

.crud-title {
  font-weight: 300;
  width: 100%;
  margin: 1.5rem 0;
}

.crud-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 1rem;
  justify-content: center;
}

.crud-form-term {
  padding-left: .7rem;
  height: 2rem;
  font-weight: 300;
}

.crud-form-def {
  padding-left: .7rem;
  font-weight: 300;
  padding-top: .7rem;
  resize: none;
}

.crud-form-def:focus {
  outline: none;
}

.crud-form-term:focus {
  outline: none;
}

.crud-form-input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .25);
  color: var(--white);
  line-height: 1.3;
}

.crud-form-submit {
  justify-self: center;
  width: 33%;
  border: 0;
  align-self: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
  padding: .5rem 1rem;
  color: var(--white);
  font-weight: 200;
  background-color: var(--main);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.crud-form-submit:hover {
  background-color: hsl(var(--hsl-main) / .8);
}

.crud-form-an {
  animation: .7s form-an ease-out ;
}

@keyframes form-an {
  0% {
    transform: translateY(1.5rem);
  }
}

.crud-message {
  font-weight: 300;
  text-align: center;
  margin: 2rem 0;
}

.crud-message span {
  text-transform: lowercase;
  color: var(--white);
}

.delete-submit {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content:center;
}

.delete-submit-button {
  justify-self: center;
  width: 50%;
  border: 0;
  align-self: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
  padding: .5rem 1rem;
  color: var(--white);
  font-weight: 200;
  background-color: var(--main);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.delete-submit-button:hover {
  background-color: hsl(var(--hsl-main) / .8);
}